/*---------- CARDS LAYOUT ----------*/
.app_cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  max-height: 100%;
  overflow: auto;
  gap: 1rem;
}

.app_cards_item {
  display: flex;
  margin-top: 0;
  padding: 0 1em 2em;
  /* width: 100%; */
}

.no-flexbox .app_cards_item {
  float: left;
}

@media screen and (min-width: 60em) {
  /* .app_cards_item {
    width: 32%;
  } */

  .no-flexbox .app_cards_item:nth-child(2n + 1) {
    clear: both;
  }
}

/* @media (max-width: 59em) {
  .app_cards_item {
    width: 25%;
  }
} */
/* @media screen and (min-width: 60em) {
  .app_cards_item {
    width: 30%;
  }
  .no-flexbox .app_cards_item:nth-child(3n + 1) {
    clear: both;
  }
} */

.app_card {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border: 0 solid #eee;
  border-radius: 40.613px;
  padding: 5px;
  min-height: 350px;
  max-height: 500px;
  max-width: 300px;
  cursor: pointer;
}

.app_cards_item_add {
  min-height: 400px;
}

.app_card_image {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 140px;
}

.app_card_image img {
  width: 100%;
  height: 100%;
  border-radius: 40.613px;
  object-fit: cover;
  padding: 5px 5px 0 5px;
}

.app_card_content {
  display: flex;
  flex-direction: column;
  margin-top: 0;
  padding: 1.5em;
  height: 100%;
  gap: 1rem;
}

/* .app_card_content p {
  flex: 1 0 auto;
} */

.add_app_card {
  display: flex;
  flex-direction: column;
  /* border: 0 solid #eee; */
  /* padding: 5px; */
  height: 100%;
  width: 100%;
}

.add_app_card_content {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  margin-top: 0;
  padding: 1.5em;
  border: 1px solid green;
  border-radius: 56px;
  background: rgba(27, 29, 35, 0.09);

  cursor: pointer;
  box-shadow: -5px -3px 9.4px 0px #262930 inset;
}

.add_app_card_content:hover {
  border: 1px solid white;
  transition: 0.5s all ease-out;
}

.add_app_card_content span {
  color: rgba(255, 255, 255, 0.27);
  text-align: center;
  font-family: Montserrat, sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
}

.app_title {
  color: #1a1b1a;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  text-transform: capitalize;
}

.app_medium_title {
  color: #2d3136;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
}

.app_card_heading>p>span {
  color: #69776f;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  text-transform: capitalize;
}

.app_card_heading>p {
  color: #038b3e;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: 17.267px;
  /* 62.28% */
  text-transform: capitalize;
}

.edit-btn {
  cursor: pointer;
  height: 40px;
  width: 40px;
  position: relative;
  transition: 250ms ease;
  border-radius: 50%;
  background: linear-gradient(315deg, #07d25f 20.24%, #028139 80.97%);
}

.edit-btn:before,
.edit-btn:after {
  height: 2px;
  /* background: white; */
  color: white;
  width: 50%;
  /* top: 50%; */
  left: 15%;
  position: absolute;
  transition: 250ms ease;
}

/* .edit-btn:before {
  transform: rotate(-45deg);
}
.edit-btn:after {
  transform: rotate(45deg);
} */

.edit-btn:hover:before,
.edit-btn:hover:after,
.edit-btn:focus:before,
.edit-btn:focus:after {
  width: 50%;
  left: 20%;
}

.btn_add {
  width: 35px !important;
  height: 35px !important;
  border-radius: 50% !important;
  padding: 5px 5px 8px 5px !important;
  background: linear-gradient(315deg, #07d25f 20.24%, #028139 80.97%);
}

.add_form h1 {
  color: #1a1b1a;
  font-family: Montserrat, sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
  text-align: center;
}

.add_form label {
  display: block;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 5px;
  text-align: left;
  color: #555;
  font-weight: bold;
}

.add_form #pass {
  color: red;
  font-size: 12px;
}

.add_form input {
  display: block;
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.add_form select {
  display: block;
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.add_form button {
  padding: 15px 20px;
  border-radius: 60px;
  margin-top: 15px;
  margin-bottom: 15px;
  border: none;
  color: white;
  cursor: pointer;
  background: var(--Linear,
      linear-gradient(315deg, #07d25f 20.24%, #028139 80.97%));
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;

  &.enabled {
    opacity: 1;
  }

  &.disabled {
    opacity: 0.5;
  }
}

#add_cancel {
  border-radius: 60px;
  border: 1px solid #0db254;
  background: rgba(255, 255, 255, 0.46);
  box-shadow: -5px -3px 9.4px 0px #fff inset;
  color: #0db254;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.add_form .wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-thumbs {
  background: #eee;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  margin: 1.5rem 0;
  padding: 0.75rem;
  transition: 1s all ease;
}

.img-thumbs-hidden {
  display: none;
}

.__services .checkbox__label {
  height: 80px;
  width: 80px;
}

.__services .checkbox__label svg {
  width: 25px;
}

.wrapper-thumb {
  position: relative;
  display: inline-block;
  margin: 1rem 0;
  justify-content: space-around;
  transition: 1s all ease;
}

.img-preview-thumb {
  background: #fff;
  border: 1px solid none;
  border-radius: 0.25rem;
  box-shadow: 0.125rem 0.125rem 0.0625rem rgba(0, 0, 0, 0.12);
  margin-right: 1rem;
  max-width: 140px;
  padding: 0.25rem;
  transition: 1s all ease;
}

.remove-btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.7rem;
  top: -5px;
  right: 10px;
  width: 20px;
  height: 20px;
  background: white;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
}

.remove-btn:hover {
  box-shadow: 0px 0px 3px grey;
  transition: all 0.3s ease-in-out;
}

.dropzone-wrapper {
  border: 2px dashed #91b0b3;
  color: #92b0b3;
  position: relative;
  height: 150px;
}

.dropzone-desc {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  text-align: center;
  width: 40%;
  top: 50px;
  font-size: 16px;
}

.dropzone,
.dropzone:focus {
  position: absolute;
  outline: none !important;
  width: 100%;
  height: 150px;
  cursor: pointer;
  opacity: 0;
}

.dropzone-wrapper:hover,
.dropzone-wrapper.dragover {
  background: #ecf0f5;
}

.preview-zone {
  text-align: center;
}

.preview-zone .box {
  box-shadow: none;
  border-radius: 0;
  margin-bottom: 0;
}

.service_selected .checkbox__label {
  border: 0.959px solid #0db254 !important;
}

.service_selected .checkbox__label svg path {
  fill: #0db254;
}

.service_selected .checkbox__label span {
  color: #0db254;
}

/* COUNTER CSS  */
._modal_counter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  /* padding: 4px 2px; */
  max-height: 40px;
  margin-bottom: 15px;
  border-radius: 60px;
  border: 1px solid #dedede;
  background: #fff;
  box-shadow: -5px -3px 9.4px 0px #dedede inset;
}

._modal_counter .minus,
._modal_counter .plus {
  background: rgba(13, 178, 84, 0.14);
  height: 30px;
  width: 30px;
  border-radius: 50%;
  flex-shrink: 0;
  position: relative;
  padding: 0.2rem;
  box-sizing: content-box;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0db254;
  cursor: pointer;
}

.__services .checkbox {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.__services .checkbox__input {
  position: absolute;
  width: 1.375em;
  height: 1.375em;
  opacity: 0;
  cursor: pointer;
}

.__services .checkbox__input:checked+.checkbox__icon .tick {
  stroke-dashoffset: 0;
}

.__services .checkbox__icon {
  width: 1.375em;
  height: 1.375em;
  flex-shrink: 0;
  overflow: visible;

  & rect {
    fill: #fff !important;
    border-radius: 0.3125rem;
    stroke: rgba(0, 0, 0, 0.16);
  }
}

.checkbox.service_selected {
  & .checkbox__icon {
    width: 1.375em;
    height: 1.375em;
    flex-shrink: 0;
    overflow: visible;

    & rect {
      fill: #07d25f !important;
      border-radius: 0.3125rem;
      stroke: rgba(0, 0, 0, 0.16);
    }
  }
}


.__services .checkbox__icon .tick {
  stroke-dasharray: 20px;
  stroke-dashoffset: 20px;
  transition: stroke-dashoffset 0.2s ease-out;
}

.__services .checkbox__label {
  margin-left: 0.5em;
  border-radius: 23.978px;
  border: 0.959px solid #dedede;
  background: rgba(255, 255, 255, 0.46);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;
  padding: 20px;
  color: #bcbcbc;
  font-family: "TT Commons", sans-serif;
  font-size: 11px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;

  & svg {
    fill: #BCBCBC;
  }
}

.upload__box {
  & .upload__btn_box {
    border-radius: 1.875rem;
    background: #f9f9f9;
    box-shadow: 6px 4px 6.4px 0px rgba(0, 0, 0, 0.14) inset;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;

    & .upload__icon {
      width: 100px;
      /* margin: 0 auto; */
    }

    & .upload__btn {
      width: 250px;
      border-radius: 5rem;
      background: var(--Linear, linear-gradient(315deg, #07D25F 20.24%, #028139 80.97%));
      color: #fff;
      padding: 1rem;
      text-align: center;
      margin-top: 1.5rem;
    }
  }
}

.upload__inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.upload__img-wrap {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;

  & .upload__img-box {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
  }

  & p {
    margin-right: 1.5rem;
  }

  & .file_thumbnail {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 7px;
    /* aspect-ratio: 2/1; */
    margin-right: 1.5rem;
  }

  & .upload__img_close {
    background-color: rgba(13, 178, 84, 0.14);
    /* width: max-content;
        aspect-ratio: 1/1;
        padding: .25rem .75rem .5rem; */
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border-radius: 50%;

    & svg {
      fill: #0DB254;
      height: 15px;
      width: 15px;
    }

    &:hover {
      cursor: pointer;
    }
  }
}


.upload__img-box {
  width: 100%;
  padding: 0 10px;
  margin-bottom: 12px;
}

.upload__img-close {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 10px;
  right: 10px;
  text-align: center;
  line-height: 24px;
  z-index: 1;
  cursor: pointer;
}

.upload__img-close:after {
  content: "✖";
  font-size: 14px;
  color: white;
}

/* modal size style */

.add_apart_modal {
  width: 100%;
  padding: 0 !important;

  & .modal-dialog {
    width: 100% !important;
    max-width: 100% !important;
  }

  & .modal-content {

    @media (min-width: 992px) {
      width: 800px;
      padding: 0 4rem;
    }

    /* @media (min-width: 1200px) and (max-width: 1399px) {
      width: 900px;
    } */

    /* @media (min-width: 992px) and (max-width: 1199px) {
      width: 800px;
      padding: 0 4rem;
    } */

    @media (min-width: 768px) and (max-width: 991px) {
      width: 700px;
    }

    @media (max-width: 767px) {
      width: 95%;
    }

    @media (min-width: 576px) {
      margin: 0 auto;
    }
  }
}

/* price row styles */

.price_row {
  width: 100%;
  display: flex;

  @media (max-width: 767px) {
    flex-direction: column;
  }

  & .price_row_col {
    @media (min-width: 768px) {
      width: calc((100% - 2rem)/3);

      &:nth-of-type(2n),
      &:nth-of-type(2n-1) {
        margin-right: 1rem;
      }

      &:nth-of-type(3n) {
        margin-right: 0;
      }
    }
  }
}

.added_price_row {
  position: relative;
  width: 100%;
  display: flex;

  @media (max-width: 767px) {
    flex-direction: column;
  }

  @media (max-width: 481px) {
    margin-top: 45px;
  }

  & .added_price_row_col {
    @media (min-width: 768px) {
      width: calc((100% - 2rem)/3);

      &:nth-of-type(2n),
      &:nth-of-type(2n-1) {
        margin-right: 1rem;
      }

      &:nth-of-type(3n) {
        margin-right: 0;
      }
    }
  }

  padding: 1rem;
  border-radius: 1.875rem 0 1.875rem 1.875rem;
  background: #f9f9f9;
  box-shadow: 6px 4px 6.4px 0px rgba(0, 0, 0, 0.14) inset;

  & .rmv_btn {
    position: absolute;

    @media (min-width: 481px) {
      top: 0;
      right: -45px;
      border-radius: 0 1.875rem 1.875rem 0;
    }

    @media (max-width: 481px) {
      top: -45px;
      right: 0;
      border-radius: 1.875rem 1.875rem 0 0;
    }

    background-color: rgba(13, 178, 84, 0.14);
    /* width: max-content;
    aspect-ratio: 1/1;
    padding: .25rem .75rem .5rem; */
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    /* border-radius: 50%; */

    & svg {
      fill: #0DB254;
      height: 15px;
      width: 15px;
    }

    &:hover {
      cursor: pointer;
    }
  }
}