.checkout_container {
  font-family: "Poppins", sans-serif;
  width: 1340px;
  margin: 5rem auto;
  padding: 50px 0px 0px;
  color: #4e5150;
}

.checkout_container header {
  height: 5%;
  margin-bottom: 30px;
}

.checkout_container header>h3 {
  font-size: 25px;
  color: #4e5150;
  font-weight: 500;
}

.checkout_container main {
  height: 85%;
  display: flex;
  column-gap: 100px;
}

.checkout_container main .checkout-form {
  width: 60%;
}

.checkout_container main .checkout-form form h6 {
  font-size: 12px;
  font-weight: 500;
}

.checkout_container main .checkout-form form .form-control {
  margin: 10px 0px;
  position: relative;
  border: none;
}

.checkout_container main .checkout-form form .form-control label:not([for="checkout-checkbox"]) {
  display: block;
  font-size: 10px;
  font-weight: 500;
  margin-bottom: 2px;
}

.card_details {
  display: flex;
  flex-wrap: wrap;
  padding: 0 12px;

  & .card-detail-input {
    width: 100%;
    padding: 1rem 1rem 1rem 40px;
    border-radius: 20px;
    border: 1px solid #dedede;
    background: #fff;
    box-shadow: 6px 4px 6.4px 0px rgba(0, 0, 0, 0.14) inset;
    font-size: 12px;
    font-weight: 700;

    &>div {
      margin-bottom: 0 !important;
    }

    margin-bottom: 1rem;

    @media (min-width: 576px) {

      &:nth-child(2),
      &:nth-child(3) {
        width: calc((100% - 1rem)/2);
      }

      &:nth-child(2) {
        margin-right: 1rem;
      }
    }
  }
}


.checkout_container main .checkout-form form .form-control input:not([type="checkbox"])::placeholder {
  font-size: 10px;
  font-weight: 500;
}

.checkout_container main .checkout-form form .form-control label[for="checkout-checkbox"] {
  font-size: 9px;
  font-weight: 500;
  line-height: 10px;
}

.checkout_container main .checkout-form form .form-control>div {
  position: relative;
}

.checkout_container main .checkout-form form .form-control>div span.fa {
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(15px, -50%);
}

.checkout_container main .checkout-form form .form-group {
  display: flex;
  column-gap: 25px;
}

.checkout_container main .checkout-form form .checkbox-control {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.checkout_container main .checkout-form form .form-control-btn {
  padding: 0 12px;
}

.checkout_container main .checkout-form form .form-control-btn button {
  padding: 20px 25px;
  width: 100%;
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  color: #fff;
  border-radius: 60px;
  background: var(--Linear,
      linear-gradient(315deg, #07d25f 20.24%, #028139 80.97%));
  letter-spacing: 0.5px;
  cursor: pointer;

  &:disabled {
    background: #BCBCBC
  }
}

.checkout-details {
  width: 30%;
}

.checkout-details .checkout-details-inner {
  background: #f2f2f2;
  border-radius: 10px;
  padding: 20px;
}

.checkout-lists {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  margin-bottom: 40px;
}

.checkout-lists ._card {
  width: 100%;
  display: flex;
  column-gap: 15px;
}

.card-image {
  width: 35%;
}

.card-image img {
  width: 100%;
  object-fit: fill;
  border-radius: 10px;
}

.card-details {
  display: flex;
  flex-direction: column;
}

.checkout_container main .checkout-details .checkout-details-inner .checkout-lists ._card .card-details .card-name {
  font-size: 18px;
  font-weight: 500;
}

.checkout_container main .checkout-details .checkout-details-inner .checkout-lists ._card .card-details ._card-price {
  font-size: 10px;
  font-weight: 500;
  color: #f2994a;
  margin-top: 5px;
}

.checkout_container main .checkout-details .checkout-details-inner .checkout-lists ._card .card-details ._card-price span {
  color: #4e5150;
}

.checkout_container main .checkout-details .checkout-details-inner .checkout-shipping,
.checkout_container main .checkout-details .checkout-details-inner .checkout-total {
  display: flex;
  font-size: 16px;
  padding: 5px 0px;
  border-top: 1px solid #bdbdbd;
  justify-content: space-between;
}

.checkout_container main .checkout-details .checkout-details-inner .checkout-shipping p,
.checkout_container main .checkout-details .checkout-details-inner .checkout-total p {
  font-size: 10px;
  font-weight: 500;
}

@media screen and (max-width: 1024px) {
  .checkout_container {
    width: 100%;
  }

  .checkout_container main {
    column-gap: 70px;
  }
}

@media screen and (max-width: 768px) {
  .checkout_container {
    width: 92%;
  }

  .checkout_container main {
    flex-direction: column-reverse;
    height: auto;
    margin-bottom: 50px;
  }

  .checkout_container main .checkout-form {
    width: 100%;
    margin-top: 35px;
  }

  .checkout_container main .checkout-details {
    width: 100%;
  }
}

.payment_types {
  margin-bottom: 25px;
  border: none !important;
  padding: 0 0.75rem;

  & .type {
    border-radius: 20px;
    border: 1px solid #DEDEDE;
    background: rgba(255, 255, 255, 0.46);
    box-shadow: 6px 4px 6.4px 0px rgba(0, 0, 0, 0.14) inset;
    padding: 1rem;
    margin-top: 1rem;
    display: flex;
    align-items: center;

    & .form-check-input {
      margin-right: .75rem;
      border-width: 3px !important;

      &:checked[type=radio] {
        background-image: none;
        outline: none;
        box-shadow: none;
        border-width: 3px !important;
        border-color: #BCBCBC;
        background-color: #028139;
      }
    }

    & .icon {
      width: 1.5rem;
      height: 1.5rem;
      margin-right: .75rem;

      & svg {
        fill: #BCBCBC;
      }
    }

    & .label {
      color: #BCBCBC;
      font-weight: 700;
      font-size: 1.1rem;
      line-height: .9rem;
    }

    &.selected {
      & .icon {

        & svg {
          fill: #028139;
        }
      }

      & .label {
        color: #028139;
      }
    }
  }
}