@media (min-width: 1400px) {
  .searchwrapper:not(.searchwrapper_modal) {
    width: 55%;
  }
}

@media (min-width: 992px) and (max-width: 1400px) {
  .searchwrapper:not(.searchwrapper_modal) {
    width: 95%;
  }
}

@media (max-width: 991px) {
  .searchwrapper:not(.searchwrapper_modal) {
    width: 100%;
  }
}

.searchbox {
  background-color: #fff;
  margin-top: 3rem;

  @media (min-width: 576px) {
    padding: 0px 0px 0px 40px;
  }

  &>div {
    width: 100%;
    margin: 0 auto;
  }

  border-radius: 50px;
  position: relative;
}

.searchbox [class*="col-"] {
  padding: 0px;
}

.searchbox .col-md-5,
.searchbox .col-md-3 {
  padding-top: 12px;
  padding-bottom: 12px;
}

.searchbox .form-control {
  border-color: transparent;
}

.searchbox select.form-control {
  border-right: solid 1px transparent;
}

.searchbox .form-control:focus {
  outline: 0;
}

.searchbox .btn:not(.btn-cancel),
.searchwrapper_sm .btn:not(.btn-cancel) {
  border-radius: 50px;
  border: none;
  background: var(--Linear,
      linear-gradient(315deg, #07d25f 20.24%, #028139 80.97%));
  box-shadow: 0px 16px 31.9px 0px rgba(0, 0, 0, 0.25);

  & span {
    color: #fff;
    font-family: Montserrat, sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 1.2px;
    text-transform: uppercase;
  }
}

#counter {
  box-shadow: 0px 16px 31.9px 0px rgba(17, 115, 206, 0.15);
  border-radius: 40px 0 0 40px;
}

/* ------ End Select Chosen Styles ---- */

footer {
  background-color: #fff;
  padding: 3% 0px;
}

footer p {
  color: #999;
}

.searchbox .btn {
  width: 101%;

  @media (min-width: 576px) {
    padding: 2rem 0;
  }

  @media (max-width: 575px) {
    padding: 15px 40px;
    width: 60%;
    margin: 0 auto;
  }
}

@media (max-width: 767px) {
  /* .searchbox .btn {
    width: 100%;
    padding: 15px 0;
  } */

  .searchbox .form-control {
    border-color: transparent;
    border-bottom: solid 1px rgba(0, 0, 0, 0.1);
  }

  .searchbox select.form-control {
    border-bottom: solid 1px transparent;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .searchbox {
    padding: 0 0 0 40px;
  }
}

@media (max-width: 575px) {
  .searchbox {
    padding: 15px;
  }
}

.searchwrapper_sm {
  background-color: #fff;
  border-radius: 50px;
  justify-content: space-between;
  align-items: center;

  & .label {
    padding: 0 1rem;
  }

  & .btn {
    padding: 1rem 2rem;
  }
}

.searchwrapper_modal {
  & .title {
    font-weight: 700;
    font-size: 1.5rem;
    text-align: center;
  }

  & .sub_title {
    font-size: 1rem;
    text-align: center;
    margin: 1rem 0 2rem;
  }

  & .searchbox {
    /* @media (min-width: 400px) {
      padding: 2rem;
    }

    @media (max-width: 399px) {
      padding: 2rem 1rem;
    } */

    margin-top: 0;

    & .btn {
      width: 100%;
      margin-top: 1rem;
    }

    & .btn-cancel {
      color: #07d25f;
      border: 1px solid #07d25f;
      background: #fff;
      border-radius: 50px;
      box-shadow: 0px 16px 31.9px 0px rgba(0, 0, 0, 0.25);
      & span {
        font-family: Montserrat, sans-serif;
        font-style: normal;
        font-weight: 400;
        letter-spacing: 1.2px;
        text-transform: uppercase;
      }

    }
  }

  & .slider {
    @media (min-width: 576px) and (max-width: 767px) {
      width: 100%;
    }

    @media (max-width: 575px) {
      width: 100%;
    }
  }

  & .thumb {
    @media (min-width: 576px) and (max-width: 767px) {
      width: 85%;
    }

    @media (min-width: 545px) and (max-width: 575px) {
      width: 86%;
    }

    @media (min-width: 500px) and (max-width: 544px) {
      width: 84.5%;
    }

    @media (min-width: 450px) and (max-width: 499px) {
      width: 82.5%;
    }

    @media (min-width: 400px) and (max-width: 449px) {
      width: 80%;
    }

    @media (max-width: 399px) {
      width: 86.5%;
    }
  }

  & #counter {
    border-radius: 0;
    box-shadow: none;
  }


}

.search_modal {
  & .modal-body {
    padding: 0;
  }
}