.slider {
  position: relative;
}

@media (min-width: 1200px) {
  .slider {
    width: 500px;
  }

  .thumb {
    width: 500px;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .slider {
    width: 400px;
  }

  .thumb {
    width: 400px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .slider {
    width: 300px;
  }

  .thumb {
    width: 300px;
  }
}

@media (max-width: 575px) {
  .slider {
    width: 100%;
  }
}

@media (min-width: 530px) and (max-width: 575px) {
  .thumb {
    width: 90%;
  }
}

@media (min-width: 490px) and (max-width: 529px) {
  .thumb {
    width: 89.5%;
  }
}

@media (min-width: 450px) and (max-width: 489px) {
  .thumb {
    width: 88.5%;
  }
}

@media (min-width: 410px) and (max-width: 449px) {
  .thumb {
    width: 87.5%;
  }
}

@media (min-width: 370px) and (max-width: 409px) {
  .thumb {
    width: 86.5%;
  }
}

@media (max-width: 369px) {
  .thumb {
    width: 85.5%;
  }
}

.slider__track,
.slider__range,
.slider__left-value,
.slider__right-value {
  position: absolute;
}

.slider__track,
.slider__range {
  border-radius: 3px;
  height: 5px;
}

.slider__track {
  background-color: #ced4da;
  width: 100%;
}

.slider__range {
  background: var(--Linear,
      linear-gradient(315deg, #07d25f 20.24%, #028139 80.97%));
  z-index: 2;
}

.slider__left-value,
.slider__right-value {
  color: #1a1b1a;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  /* 61.538% */
  letter-spacing: 2.86px;
  text-transform: uppercase;
  margin-top: 13px;
}

.slider__left-value {
  left: 6px;
  color: #1a1b1a;
  font-family: "Helvetica Neue";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  /* 61.538% */
  letter-spacing: 2.86px;
  text-transform: uppercase;
}

.slider__right-value {
  color: #1a1b1a;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-text-strokewidth: 1;
  -webkit-text-stroke-color: #000;
  font-family: "Helvetica Neue";
  font-size: 23px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  /* 61.538% */
  letter-spacing: 2.86px;
  text-transform: uppercase;
  right: 0;
}

/* Removing the default appearance */
.thumb,
.thumb::-webkit-slider-thumb {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}

.thumb {
  pointer-events: none;
  position: absolute;
  height: 0;
  outline: none;
}

.thumb--zindex-3 {
  z-index: 3;
}

.thumb--zindex-4 {
  z-index: 4;
}

.thumb--zindex-5 {
  z-index: 5;
}

/* For Chrome browsers */
.thumb::-webkit-slider-thumb {
  background: var(--Linear,
      linear-gradient(315deg, #07d25f 20.24%, #028139 80.97%));

  border: none;
  border-radius: 50%;
  box-shadow: 0 0 1px 1px #ced4da;
  cursor: pointer;
  height: 18px;
  width: 18px;
  margin-top: 4px;
  pointer-events: all;
  position: relative;
}

/* For Firefox browsers */
.thumb::-moz-range-thumb {
  background: var(--Linear,
      linear-gradient(315deg, #07d25f 20.24%, #028139 80.97%));

  border: none;
  border-radius: 50%;
  box-shadow: 0 0 1px 1px #ced4da;
  cursor: pointer;
  height: 18px;
  width: 18px;
  margin-top: 4px;
  pointer-events: all;
  position: relative;
}